.h1{
    align-items: center;
}


.btn-group-vertical>.btn {
    height: 1em;
    padding: 0px 6px 13px;
}

.form {
    margin: 20px 10px 20px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 1350px;
}


.grid {
    display: grid;
    height: 700px;

    grid-template-columns: 80% 20%;  
    grid-template-rows: 1fr;

    grid-template-areas:
    "image info"
/*
    "image . faze1 . priklad"
        "image . faze2 . priklad"
        "image . speed . priklad"
        "image . checkbox . priklad"
        "image . btnAnim . . "*/
}

.info{
    display: grid;
    height: 700px;

    background-color: lightgray;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    grid-template-columns: 60% 40%;  
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "faze1 priklad"
    "faze2 priklad"
    "speed priklad"
    "checkbox priklad"
    "btnAnim btnAnim"
}

.image{
    grid-area: image;
    justify-self: stretch;
}

.imageCanvas{
    justify-self: stretch;
}

.faze1 {
    margin: 10px;
    align-self: center;
    grid-area: faze1;
    vertical-align: middle;
}

.faze2 {
    margin: 10px;
    align-self: center;
    grid-area: faze2;
    vertical-align: middle;
}

.rychlost {
    margin: 10px;
    grid-area: speed;
    vertical-align: middle;
    align-self: center;
}

.checkbox {
    margin: 10px;
    grid-area: checkbox;
    vertical-align: middle;
    align-self: center;
}

.example{
    grid-area: priklad;
}

.btnExample1{
    grid-area: priklad1;
    display: block;
}

.btnExample2{
    grid-area: priklad2;
}

.btnExample3{
    grid-area: priklad3;
}

.btnExample4{
    grid-area: priklad4;
}

.btnExample{
    display: block;
    background-color: darkred;
    color: yellow;

    margin-top: 25px;
    margin-right: 5px;
    margin-left: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;

    width: 90%;
    height: 40px;
    border-radius: 5px;
}


.btnanimace {
    grid-area: btnAnim;

    background-color: darkblue;
    color: white;

    margin: 10px;

    vertical-align: middle;
    align-self: center;
    justify-self: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

    width: 86%;
    height: 40px;
    border-radius: 5px;

}