.btn-group-vertical>.btn {
    height: 1em;
    padding: 0px 6px 13px;
}

.nadpis {
    text-align: center;
}

.form {
    margin: 20px auto 20px auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.info {
    display: grid;
    background-color: lightgray;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
}

@media only screen and (min-width: 397px) {
    .form {
        max-width: 960px;
    }

    .grid {
        display: grid;
        height: 280px;

        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
            "image"
            "info"
    }

    .info {
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr 1fr;

        grid-template-areas:
            "faze1 priklad"
            "faze2 priklad"
            "speed priklad"
            "checkbox priklad"
            ". priklad"
            "btnAnim btnAnim"
    }
}

@media only screen and (min-width: 760px) {
    .form {
        max-width: 1200px;
    }

    .grid {
        display: grid;
        height: 500px;

        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
            "image"
            "info"
    }

    .info {
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas:
            "faze1 priklad"
            "faze2 priklad"
            "speed priklad"
            "checkbox priklad"
            ". priklad"
            "btnAnim btnAnim"
    }
}

@media only screen and (min-width: 1000px) {
    .form {
        max-width: 1240px;
    }

    .grid {
        display: grid;
        height: 640px;

        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

        grid-template-areas:
            "image info"
    }

    .info {
        margin: 20px;
        height: 600px;

        grid-template-columns: 98%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas:
            "faze1"
            "faze2"
            "speed"
            "checkbox"
            "priklad"
            "btnAnim"
    }

}

.image {
    grid-area: image;
}

.editalign {
    margin: 10px;
    align-self: center;
    vertical-align: middle;
}

.faze1 {
    grid-area: faze1;
}

.faze2 {
    grid-area: faze2;
}

.rychlost {
    grid-area: speed;
}

.checkbox {
    grid-area: checkbox;
}

.example {
    grid-area: priklad;
}

.btnExample {
    background-color: darkred;
    color: yellow;

    vertical-align: middle;
    align-self: center;
    justify-self: center;

    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;

    width: 95%;
    height: 40px;
    border-radius: 5px;
}

.btnanimace {
    grid-area: btnAnim;

    background-color: darkblue;
    color: lightgrey;

    margin: 10px;

    vertical-align: middle;
    align-self: center;
    justify-self: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;

    width: 95%;
    height: 40px;
    border-radius: 5px;

}
